html
    head
        title= boardinfo[boardid].name
        link(href='/css/fading.css', rel='stylesheet')
        link(href='/css/res_colors.css', rel='stylesheet')
        link(href='/css/generic.css', rel='stylesheet')
        script(src='/javascripts/datatimer.js')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/socket_hookups.js')
        script(src='/javascripts/commands.js')

    body
        header
            h1= "Board Info"
            nav
                ul
                    li
                        a(href="/") home
                    li
                        a(href="/status") status
                    li
                        a(href="/show") show
        main
            section(class="hero")
                div(class="hero-content")

                    hr

                    h2= boardinfo[boardid].name
                    div Location: #{ show[boardid].location }
                    div(class="commands")
                        button(class="button" onclick="clickIdentify(\""+boardid+"\")") Identify
                        button(class="button" onclick="clickArm(\""+boardid+"\")") Arm
                        button(class="button" onclick="clickDisarm(\""+boardid+"\")") Disarm
                    table
                        thead
                            tr
                                th Connection Status
                                th Software Arm Predict
                                th Software Arm Actual
                                th Hardware Arm Actual
                                th RSSI
                        tbody
                            tr
                                td(class="datatimer")= 0
                                td(id=boardid+"_swarm_predict")= predictions[boardid].swarm
                                td(id=boardid+"_swarm")= telemetry[boardid].swarm
                                td(id=boardid+"_hwarm")= telemetry[boardid].hwarm
                                td(id=boardid+"_rssi")= telemetry[boardid].rssi
                    div(class="command_counts")
                        div
                            div(id=boardid+"_cmdcount_predict")= predictions[boardid].cmdcount
                            div= " Command(s) Sent. "
                        div
                            div(id=boardid+"_cmdcount")= telemetry[boardid].cmdcount
                            div= " Command(s) Received."

                    hr

                    h3= "channels"
                    table
                        thead
                            tr
                                th 
                                th Effect
                                th Group
                                th Resistance
                                th Resistance Predict
                                th Fire Commands Sent
                                th Fire Commands Received
                                th
                        tbody
                            each i in [0,1,2,3,4,5,6,7]
                                tr
                                    td= "Channel "+i
                                    td= show[boardid].effects[i]
                                    - var groupchannel = "No Group"
                                    each group in show.groups
                                        each channel in group.channels
                                            if channel.id === boardid
                                                if channel.channel == i
                                                    - groupchannel = group.comment
                                    td= groupchannel
                                    td(id=boardid+"_res"+i)= telemetry[boardid].res[i]
                                    td(id=boardid+"_res"+i+"_predict")= predictions[boardid].res[i]
                                    td(id=boardid+"_firecount"+i+"_predict")= predictions[boardid].firecount[i]
                                    td(id=boardid+"_firecount"+i)= telemetry[boardid].firecount[i]
                                    td
                                        button(class="buttonsmall" onclick="clickFire(\""+boardid+"\",\""+i+"\")") Fire Channel #{ i }

                    hr

                    h3= "comments"
                    p= boardinfo[boardid].comments
                    
                    hr

                    table
                        thead
                            tr
                                th ID
                                th Firmware Version
                                th IP
                        tbody
                            tr
                                td= boardinfo[boardid].id
                                td= boardinfo[boardid].firmver
                                td= boardinfo[boardid].ip

