html
    head
        title= boardinfo[boardid].name
        link(href='/css/fading.css', rel='stylesheet')
        link(href='/css/res_colors.css', rel='stylesheet')
        link(href='/css/generic.css', rel='stylesheet')
        script(src='/javascripts/datatimer.js')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/socket_hookups.js')
        script(src='/javascripts/commands.js')

    body
        header
            h1 Magic Smoke Board Info
            nav
                ul
                    li
                        a(href="/") home
                    li
                        a(href="/status") status
                    li(class="dropdown")
                        a(href="#") boards
                        div(class="dropdown-content")
                            each board in boardinfo
                                a(href="/board/"+board.sname) #{ board.name }
                    li
                        a(href="/show") show
        main
            section(class="hero")
                div(class="hero-content")

                    hr

                    h2= boardinfo[boardid].name
                    div Location: #{ show[boardid].location }
                    div(class="commands")
                        button(class="button" onclick="clickIdentify(\""+boardid+"\")") Identify
                        button(class="button" onclick="clickArm(\""+boardid+"\")") Arm
                        button(class="button" onclick="clickDisarm(\""+boardid+"\")") Disarm
                    table
                        thead
                            tr
                                th Connection Status
                                th Software Arm Predict
                                th Software Arm Actual
                                th Hardware Arm Actual
                                th RSSI
                        tbody
                            tr
                                td
                                    - var connstatus = "Never Connected"
                                    - var connstatus_class = "error_status"
                                    if telemetry[boardid].connection == 'never'
                                        - var connstatus = "Never Connected"
                                        - var connstatus_class = "error_status"
                                    else if telemetry[boardid].connection == 'inactive'
                                        - var connstatus = "Connection Lost"
                                        - var connstatus_class = "warning_status"
                                    else
                                        - var connstatus = "Connected"
                                        - var connstatus_class = "normal_status"
                                    div(class=connstatus_class id=boardid+"_connstatus")= connstatus

                                td
                                    - var swarm_predict = "SW ARMED"
                                    - var swarm_predict_class = "normal_status"
                                    if predictions[boardid].swarm == 0
                                        - swarm_predict = "SW DISARMED"
                                    if predictions[boardid].swarm != telemetry[boardid].swarm
                                        - swarm_predict_class = "warning_status"
                                    div(class=swarm_predict_class id=boardid+"_swarm_predict")= swarm_predict

                                td
                                    - var swarm = "No Data"
                                    - var swarm_class = "error_status"
                                    if telemetry[boardid].swarm == 0
                                        - swarm = "SW DISARMED"
                                    else if telemetry[boardid].swarm == 1
                                        - swarm = "SW ARMED"
                                    if telemetry[boardid].swarm == predictions[boardid].swarm
                                        - swarm_class = "normal_status"
                                    div(class=swarm_class id=boardid+"_swarm")= swarm

                                td
                                    - var hwarm = "No Data"
                                    - var hwarm_class = "error_status"
                                    if telemetry[boardid].hwarm == 'DISARMED'
                                        - hwarm = "HW DISARMED"
                                        if telemetry[boardid].swarm == 1
                                            - hwarm_class = "warning_status"
                                        else
                                            - hwarm_class = "normal_status"
                                    else if telemetry[boardid].hwarm == 'ARMED'
                                        - hwarm = "HW ARMED"
                                        - hwarm_class = "normal_status"
                                    div(class=hwarm_class id=boardid+"_hwarm")= hwarm

                                td
                                    - var rssi = telemetry[boardid].rssi
                                    - var rssi_class = "error_status"
                                    if rssi != 'no data'
                                        if rssi < -60
                                            - rssi_class = "warning_status"
                                        else
                                            - rssi_class = "normal_status"
                                    div(class=rssi_class id=boardid+"_rssi")= rssi

                    div(class="command_counts")
                        div
                            div(id=boardid+"_cmdcount_predict")= predictions[boardid].cmdcount
                            div= " Command(s) Sent. "
                        div
                            div(id=boardid+"_cmdcount")= telemetry[boardid].cmdcount
                            div= " Command(s) Received."

                    hr

                    h3= "channels"
                    table
                        thead
                            tr
                                th 
                                th Effect
                                th Group
                                th Resistance
                                th Resistance Predict
                                th Fire Commands Sent
                                th Fire Commands Received
                                th
                        tbody
                            each i in [0,1,2,3,4,5,6,7]
                                tr
                                    td= "Channel "+i
                                    td= show[boardid].effects[i]
                                    - var groupchannel = "No Group"
                                    each group in show.groups
                                        each channel in group.channels
                                            if channel.id === boardid
                                                if channel.channel == i
                                                    - groupchannel = group.comment
                                    td= groupchannel

                                    td
                                        - var res = telemetry[boardid].res[i]
                                        - var res_class = "error_status"
                                        if res != 'no data'
                                            - res_class = "normal_status"
                                        div(class=res_class id=boardid+"_res"+i)= res

                                    td(id=boardid+"_res"+i+"_predict")= predictions[boardid].res[i]
                                    td(id=boardid+"_firecount"+i+"_predict")= predictions[boardid].firecount[i]

                                    td
                                        - var firecount = telemetry[boardid].firecount[i]
                                        - var firecount_class = "error_status"
                                        if firecount != 'no data'
                                            if firecount != predictions[boardid].firecount[i]
                                                - firecount_class = "warning_status"
                                            else
                                                - firecount_class = "normal_status"
                                        div(class=firecount_class id=boardid+"_firecount"+i)= firecount

                                    td
                                        button(class="buttonsmall" onclick="clickFire(\""+boardid+"\",\""+i+"\")") Fire Channel #{ i }

                    hr

                    h3= "comments"
                    p= boardinfo[boardid].comments
                    
                    hr

                    table
                        thead
                            tr
                                th ID
                                th Firmware Version
                                th IP
                        tbody
                            tr
                                td= boardinfo[boardid].id
                                td(id=boardid+"_firmver")= telemetry[boardid].firmver
                                td(id=boardid+"_ip")= telemetry[boardid].ip

