html
    head
        title= boardinfo[boardid].name
        link(rel='icon' href='/images/msmoke_logo.png')
        link(href='/css/fading.css', rel='stylesheet')
        link(href='/css/res_colors.css', rel='stylesheet')
        link(href='/css/generic.css', rel='stylesheet')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/socket_hookups.js')
        script(src='/javascripts/commands.js')

    body
        header
            h1 Magic Smoke Board Info
            nav
                ul
                    li
                        a(href="/") home
                    li
                        a(href="/status") status
                    li(class="dropdown")
                        a(href="#") boards
                        div(class="dropdown-content")
                            each board in boardinfo
                                a(href="/board/"+board.sname) #{ board.name }
                    li
                        a(href="/show") show
        main
            section(class="hero")
                div(class="hero-content")

                    hr

                    h2= boardinfo[boardid].name
                    div Location: #{ show.boards[boardid].location }
                    div(class="commands")
                        button(class="button" onclick="clickIdentify(\""+boardid+"\")") Identify
                        button(class="button" onclick="clickArm(\""+boardid+"\")") Arm
                        button(class="button" onclick="clickDisarm(\""+boardid+"\")") Disarm
                    table
                        thead
                            tr
                                th Connection Status
                                th Software Arm Predict
                                th Software Arm Actual
                                th Hardware Arm Actual
                                th RSSI
                        tbody
                            tr
                                td
                                    div(class="normal_status" id=boardid+"_connstatus")= telemetry[boardid].connection

                                td
                                    div(class="normal_status" id=boardid+"_swarm_predict")= predictions[boardid].swarm

                                td
                                    div(class="normal_status" id=boardid+"_swarm")= telemetry[boardid].swarm

                                td
                                    div(class="normal_status" id=boardid+"_hwarm")= telemetry[boardid].hwarm

                                td
                                    div(class="normal_status" id=boardid+"_rssi")= telemetry[boardid].rssi

                    div(class="command_counts")
                        div
                            div(id=boardid+"_cmdrequests")= predictions[boardid].cmdrequests
                            div= " Command Requests. "
                        div
                            div(id=boardid+"_cmdresponses")= predictions[boardid].cmdresponses
                            div= " Command Responses. "
                        div
                            div(id=boardid+"_cmdcount")= telemetry[boardid].cmdcount
                            div= " Command(s) Counted."

                    div(class="last_command")
                        div
                            div= "Last Command: "
                            div(id=boardid+"_last_cmd" class="normal_status")= predictions[boardid].last_cmd
                            div= " "
                        div
                            div= " Last Command Status: "
                            div(id=boardid+"_last_cmd_status" class="normal_status")= predictions[boardid].last_cmd_status
                    hr

                    h3= "channels"
                    table
                        thead
                            tr
                                th 
                                th Effect
                                th Group
                                th Resistance
                                th Resistance Predict
                                th Fire Commands Sent
                                th Fire Commands Received
                                th
                        tbody
                            each i in [0,1,2,3,4,5,6,7]
                                tr
                                    td= "Channel "+i
                                    td
                                        div(id=boardid+"_effect"+i)= show.boards[boardid].channels[i].effect
                                    td
                                        - var groupid = show.boards[boardid].channels[i].group
                                        - var groupstr = groupid
                                        each group in show.groups
                                            if group.id == groupid
                                                - groupstr = group.time + " (" + group.desc + ")"
                                        div(id=boardid+"_groupstr"+i)= groupstr

                                    td
                                        div(class="normal_status" id=boardid+"_res"+i)= res
                                    td
                                        div(class="normal_status" id=boardid+"_res"+i+"_predict")= predictions[boardid].res[i]
                                    td
                                        div(class="normal_status" id=boardid+"_firecount"+i+"_predict")= predictions[boardid].firecount[i]
                                    td
                                        div(class="normal_status" id=boardid+"_firecount"+i)= firecount
                                    td
                                        button(class="buttonsmall" onclick="clickFire(\""+boardid+"\",\""+i+"\")") Fire Channel #{ i }

                    hr
                    div
                        a(class="button" href="/configboards/"+boardid) Configure
                    hr

                    h3= "comments"
                    p= boardinfo[boardid].comments
                    
                    hr

                    table
                        thead
                            tr
                                th ID
                                th Firmware Version
                                th IP
                        tbody
                            tr
                                td= boardinfo[boardid].id
                                td(id=boardid+"_firmver")= telemetry[boardid].firmver
                                td(id=boardid+"_ip")= telemetry[boardid].ip

    script.
          var boardinfo = !{JSON.stringify(boardinfo)};
          var telemetry = !{JSON.stringify(telemetry)};
          var predictions = !{JSON.stringify(predictions)};
          var show = !{JSON.stringify(show)};
          fresh_data(boardinfo, telemetry, predictions, show);


