html
	head
		title= "Magic Smoke Boards"
		link(rel='icon' href='/images/msmoke_logo.png')
		link(href='/css/fading.css', rel='stylesheet')
		link(href='/css/res_colors.css', rel='stylesheet')
		link(href='/css/generic.css', rel='stylesheet')
	body
		header
			h1= "Magic Smoke Boards"
			nav
				ul
					li
						a(href="/") home
					li
						a(href="/config") config
					li
						a(href="/status") status
					li(class="dropdown")
						a(href="/boards") boards
						div(class="dropdown-content")
							each board in boardinfo
								a(href="/board/"+board.sname) #{ board.name }
					li
						a(href="/show") show
			
		main
			section(class="hero")
				div(class="hero-content")

					hr

					table(class="boards_table")
						thead
							tr
								th Board
								th Config
								th ID
								th Short Name
								th Comments
						tbody
							each board in boardinfo
								tr
									td
										a(class="board_name" href="/board/"+board.sname) #{ board.name }
									td
										a(class="buttontiny" href="/configboards/"+board.sname) Configure #{ board.name }
									td #{ board.id }
									td #{ board.sname }
									td #{ board.comments }

