html
	head
		title Configure Groups
		link(href='/css/fading.css', rel='stylesheet')
		link(href='/css/res_colors.css', rel='stylesheet')
		link(href='/css/generic.css', rel='stylesheet')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/socket_hookups.js')
		script(src='/javascripts/commands.js')
	body
		header
			h1 Configure Groups
			nav
				ul
					li
						a(href="/") home
					li
						a(href="/status") status
					li(class="dropdown")
						a(href="#") boards
						div(class="dropdown-content")
							each board in boardinfo
								a(href="/board/"+board.sname) #{ board.name }
					li
						a(href="/show") show
			div(class="config-sider")
				hr
				h3 Add New Group
				form(method="post")
					table
						thead
							tr
								th= "Time"
						tbody
							tr
								td
									input(class="group_time" type="text" name="time" value="0.0")
					table
						thead
							tr
								th= "Description"
						tbody
							tr
								td
									input(class="group_desc" type="text" name="group_desc" value="")
					input(class="buttonsmall" type="submit" value="Add")
				hr

		main
			section(class="hero")
				div(class="config-hero")
				
					table(id="group_table")
						thead
							tr
								th Time
								th Description
								th(class="minwidth")
								th(class="minwidth")
						tbody
							each group in show.groups
								tr(id="group_row_"+group.id class="config_group_row")
									td= group.id
									td= group.desc
									td(class="minwidth")
										button(class="buttontiny" onclick="clickGroupEdit(\""+group.id+"\")") Edit
									td(class="minwidth")
										button(class="buttontiny" onclick="clickGroupDelete(\""+group.id+"\")") Delete

