html
	head
		title Configure Boards
		link(rel='icon' href='/images/msmoke_logo.png')
		link(href='/css/fading.css', rel='stylesheet')
		link(href='/css/res_colors.css', rel='stylesheet')
		link(href='/css/generic.css', rel='stylesheet')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/socket_hookups.js')
		script(src='/javascripts/commands.js')

	body
		header
			h1 Configure Boards
			nav
				ul
					li
						a(href="/") home
					li
						a(href="/") config
					li
						a(href="/status") status
					li(class="dropdown")
						a(href="/boards") boards
						div(class="dropdown-content")
							each board in boardinfo
								a(href="/board/"+board.sname) #{ board.name }
					li
						a(href="/show") show
		main
			section(class="hero")
				div(class="hero-content")

					hr
					table
						tr(class="navlike")
							td
								a(href="/configgroups") configure groups
							td
							td(class="dropdown")
								a(href="/boards") Configure Boards
								div(class="dropdown-content")
									each board in boardinfo
										a(href="/configboards/"+board.sname) #{ board.name }
					hr
					h2= boardinfo[boardid].name


					form(method="post")
						input(type="hidden" name="boardid" value=boardinfo[boardid].sname)
						div Location:
							input(type="text" name="location" value=show.boards[boardinfo[boardid].sname].location)
						table(id=boardinfo[boardid].sname+"_board_table")
							thead
								tr
									th Channel Number
									th(class="wide_th") Group Identifier
									th(class="wide_th") Effect Description
							tbody
								each i in [0,1,2,3,4,5,6,7]
									tr
										td= i
										td
											select(class="group_select" name="group[]")
												if show.boards[boardinfo[boardid].sname].channels[i].group == ""
													option(value="" selected="true") None
												else
													option(value="") None
												each group in show.groups
													if show.boards[boardinfo[boardid].sname].channels[i].group == group.id
														option(value=group.id selected="true") ID:#{ group.id } Time:#{ group.time } (#{ group.desc })
													else
														option(value=group.id) ID:#{ group.id } Time:#{ group.time} (#{ group.desc })
										td
											input(class="effect_desc" type="text" name="effect[]" value=show.boards[boardinfo[boardid].sname].channels[i].effect)
						input(class="button" type="submit" value="Save configuration for " + boardinfo[boardid].name)
									
					hr
						

