html
	head
		title Magic Smoke Show
		link(rel='icon' href='/images/msmoke_logo.png')
		link(href='/css/fading.css', rel='stylesheet')
		link(href='/css/res_colors.css', rel='stylesheet')
		link(href='/css/generic.css', rel='stylesheet')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/socket_hookups.js')
		script(src='/javascripts/commands.js')
	body
		header
			h1 Magic Smoke Show
			nav
				ul
					li
						a(href="/") home
					li
						a(href="/config") config
					li
						a(href="/status") status
					li(class="dropdown")
						a(href="#") boards
						div(class="dropdown-content")
							each board in boardinfo
								a(href="/board/"+board.sname) #{ board.name }
					li
						a(href="/show") show
			div(class="show-topper")
				hr
				table
					tbody
						tr
							td
								button(class="buttonsmall" onclick="clickArmAll()") Arm All
							td
								button(class="buttonsmall" onclick="clickDisarmAll()") Disarm All
				hr
				table
					thead
						tr
							th Software Arm
					tbody
						tr
							td
								div(id="show_swarm_status" class="normal_status")= "unknown"
	
				table
					thead
						tr
							th Hardware Arm
					tbody
						tr
							td
								div(id="show_hwarm_status" class="normal_status")= "unknown"
	
				table
					thead
						tr
							th Connection Status
					tbody
						tr
							td
								div(id="show_conn_status" class="normal_status")= "unknown"
				hr
				table
					thead
						tr
							th
							th Show Clock
							th
					tbody
						tr
							td
							td
								div(id="show_clock" class="show_clock")= show_clock
							td
								div
									button(class="clockbutton" onclick="clickClockPlus()")= "+"
								div
									button(class="clockbutton" onclick="clickClockMinus()")= "-"
				table
					tbody
						tr
							td
								button(class="buttonsmall" onclick="clickStartClock()") Start Show
							td
								button(class="buttonsmall" onclick="clickStopClock()") Pause Show
				hr

		main
			section(class="hero")
				div(class="show-hero")
				
					div(id="now_bar")
						div(class="upcoming-group")= "Show Clock: " + show_clock
					each group in show.groups
						hr
						table(id=group.id class="show-table")
							thead
								th
									table
										thead
											th Group Time
											th Countdown
											th Description
										tbody
											tr
												td(id="time_"+group.id)= group.time
												td
													div(id="countdown_"+group.id class="normal_status")= "T-"+group.time
												td= group.desc
												td(class="td-go-button")
													button(class="buttonsmall" onclick="groupClick(\""+group.id+"\")") fire
													button(class="buttonsmall" onclick="jumpToGroup(\""+group.time+"\")") jump to

							tbody
								tr
									td
										table(id="group_table_"+group.id class="table")
											tbody
												each board, boardid in show.boards
													each channel, chnum in board.channels
														if channel.group == group.id
															tr
																td= boardinfo[boardid].name
																td Channel #{ chnum }
																td= board.location
																td= channel.effect
																td
																	div(id=boardid+"_showstatus_pred"+chnum class=showstatus_pred_class)= "NOT FIRED"
																td
																	div(id=boardid+"_showstatus_res"+chnum class=showstatus_res_class)= "NO MATCH"
																td
																	div(id=boardid+"_showstatus"+chnum class="normal_status")= "unknown"
				script.
					var boardinfo = !{JSON.stringify(boardinfo)};
					var telemetry = !{JSON.stringify(telemetry)};
					var predictions = !{JSON.stringify(predictions)};
					var show = !{JSON.stringify(show)};
					var show_clock_val = "#{show_clock}";
					fresh_data(boardinfo, telemetry, predictions, show);
					tick_clock(show_clock_val, true);


