html
	head
		title.
			show
		link(href='/css/res_colors.css', rel='stylesheet')
		script.
			function groupClick(channels) {
				for (key in channels) {
					console.log(channels[key].id);
					console.log(channels[key].channel);
				}
			}
	body
		h1.
			show
		table
			each group, index in groups
				tr
					td(style='width: 5%')= index
					td(style='width: 95%')
						table(style='width: 100%')
							tr
								td= group.comment
							tr
								td
									table(style='width: 100%')
										each channel in group.channels
											tr
												if channel.id === 'spa'
													td= 'spa'
													td= spa.located
													td= spa.effects[channel.channel]
												else if channel.id === 'ta'
													td= 'ta'
													td= ta.located
													td= ta.effects[channel.channel]
												else if channel.id === 'ntb'
													td= 'ntb'
													td= ntb.located
													td= ntb.effects[channel.channel]
								td(style='align=center')
									button(onclick="groupClick("+JSON.stringify(group.channels)+")") go


