html
    head
        title Magic Smoke Show
        link(href='/css/fading.css', rel='stylesheet')
        link(href='/css/res_colors.css', rel='stylesheet')
        link(href='/css/generic.css', rel='stylesheet')
        script(src='/javascripts/datatimer.js')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/socket_hookups.js')
        script(src='/javascripts/commands.js')
    body
        header
            h1 Magic Smoke Show
            nav
                ul
                    li
                        a(href="/") home
                    li
                        a(href="/status") status
                    li(class="dropdown")
                        a(href="#") boards
                        div(class="dropdown-content")
                            each board in boardinfo
                                a(href="/board/"+board.sname) #{ board.name }
                    li
                        a(href="/show") show
            hr
            button(class="buttonsmall" onclick="clickArmAll()") Arm All
            button(class="buttonsmall" onclick="clickDisarmAll()") Disarm All
            table
                thead
                    tr
                        th Software Arm
                        th Hardware Arm
                        th Connection Status
                tbody
                    tr
                        td All Armed
                        td(class="highresistance") Partial
                        td All Good
            hr

        main
            section(class="hero")
                div(class="show-content")


                    table
                        each group, index in show.groups
                            tr
                                td(style='width: 5%')= index
                                td(style='width: 95%')
                                    table(style='width: 100%')
                                        tr
                                            td= group.comment
                                        tr
                                            td
                                                table(style='width: 100%')
                                                    each channel in group.channels
                                                        tr
                                                            td= boardinfo[channel.id].name
                                                            td Channel #{ channel.channel }
                                                            td= show[channel.id].location
                                                            td= show[channel.id].effects[channel.channel]
                                                            td= telemetry[channel.id].name
                                                            if telemetry[channel.id].swarm === 'no data'
                                                                td.rw1sfading= 'Not Ready'
                                                            else
                                                                td.highresistance= 'Ready'
                                            td(style='align=center')
                                                button(class="buttonsmall" onclick="groupClick(\""+index+"\")") go


