html
	head
		title Magic Smoke Show
		link(href='/css/fading.css', rel='stylesheet')
		link(href='/css/res_colors.css', rel='stylesheet')
		link(href='/css/generic.css', rel='stylesheet')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/socket_hookups.js')
		script(src='/javascripts/commands.js')
	body
		header
			h1 Magic Smoke Show
			nav
				ul
					li
						a(href="/") home
					li
						a(href="/status") status
					li(class="dropdown")
						a(href="#") boards
						div(class="dropdown-content")
							each board in boardinfo
								a(href="/board/"+board.sname) #{ board.name }
					li
						a(href="/show") show
			div(class="show-topper")
				hr
				table
					tbody
						tr
							td
								button(class="buttonsmall" onclick="clickArmAll()") Arm All
							td
								button(class="buttonsmall" onclick="clickDisarmAll()") Disarm All
				hr
				table
					thead
						tr
							th Software Arm
					tbody
						tr
							td
								- var armcount = 0
								- var disarmcount = 0
								- var nodatacount = 0
								- var swarm_val = "No Data"
								- var swarm_class = "error_status"
								for board in boardinfo
									if show.boards[board.sname].location != "inactive"
										if telemetry[board.sname].swarm == 0
											- disarmcount = disarmcount + 1
										else if telemetry[board.sname].swarm == 1
											- armcount = armcount + 1
										else
											- nodatacount = nodatacount + 1
								if nodatacount > 0
									- swarm_val = "No Data"
									- swarm_class = "error_status"
								else if armcount == 0
									- swarm_val = "All Disarmed"
									- swarm_class = "warning_status"
								else if disarmcount == 0
									- swarm_val = "All Armed"
									- swarm_class = "good_status"
								else
									- swarm_val = "Partial"
									- swarm_class = "warning_status"
								div(id="show_swarm_status" class=swarm_class)= swarm_val
	
				table
					thead
						tr
							th Hardware Arm
					tbody
						tr
							td
								- var armcount = 0
								- var disarmcount = 0
								- var nodatacount = 0
								- var hwarm_val = "No Data"
								- var hwarm_class = "error_status"
								for board in boardinfo
									if show.boards[board.sname].location != "inactive"
										if telemetry[board.sname].hwarm == "DISARMED"
											- disarmcount = disarmcount + 1
										else if telemetry[board.sname].hwarm == "ARMED"
											- armcount = armcount + 1
										else
											- nodatacount = nodatacount + 1
								if nodatacount > 0
									- hwarm_val = "No Data"
									- hwarm_class = "error_status"
								else if armcount == 0
									- hwarm_val = "All Disarmed"
									- hwarm_class = "warning_status"
								else if disarmcount == 0
									- hwarm_val = "All Armed"
									- hwarm_class = "good_status"
								else
									- hwarm_val = "Partial"
									- hwarm_class = "warning_status"
								div(id="show_hwarm_status" class=hwarm_class)= hwarm_val
	
				table
					thead
						tr
							th Connection Status
					tbody
						tr
							td
								- var conns = 0
								- var noconns = 0
								- var conn_val = "No Connections"
								- var conn_class = "error_status"
								for board in boardinfo
									if show.boards[board.sname].location != "inactive"
										if telemetry[board.sname].connection == 'active'
											- conns = conns + 1
										else
											- noconns = noconns + 1
								if conns == 0
									- conn_val = "No Connections"
									- conn_class = "error_status"
								else if noconns == 0
									- conn_val = "Good Connections"
									- conn_class = "good_status"
								else
									- conn_val = noconns + " Bad Connection(s)"
									- conn_class = "warning_status"
								div(id="show_conn_status" class=conn_class)= conn_val
				hr
				table
					thead
						tr
							th Show Clock
					tbody
						tr
							td
								div(id="show_clock" class="show_clock")= show_clock
				table
					tbody
						tr
							td
								button(class="buttonsmall" onclick="clickStartClock()") Start Show
							td
								button(class="buttonsmall" onclick="clickStopClock()") Pause Show
				hr

		main
			section(class="hero")
				div(class="hero-content")
				
					hr(id="now_bar")
					each group in show.groups
						table(id=group.id class="show-table")
							thead
								th
								th #{ group.id } : #{ group.desc }
								th
							tbody
								tr
									td
									td
										table
											tbody
												each board, boardid in show.boards
													each channel, chnum in board.channels
														if channel.group == group.id
															tr
																td= boardinfo[boardid].name
																td Channel #{ chnum }
																td= board.location
																td= channel.effect

																td
																	- var showstatus_val = "not ready"
																	- var showstatus_class = "error_status"
																	if telemetry[boardid].swarm == 1
																		- showstatus_val = "ready"
																		- var showstatus_class = "good_status"
																	div(id=boardid+"_showstatus"+chnum class=showstatus_class)= showstatus_val
									td(class="td-go-button")
										button(class="buttonsmall" onclick="groupClick(\""+group.id+"\")") go

