html
    head
        title= "Magic Smoke Status"
        link(href='/css/fading.css', rel='stylesheet')
        link(href='/css/res_colors.css', rel='stylesheet')
        link(href='/css/generic.css', rel='stylesheet')
        script(src='/javascripts/datatimer.js')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/socket_hookups.js')
        script(src='/javascripts/commands.js')
    body
        header
            h1= "Magic Smoke Status"
            nav
                ul
                    li
                        a(href="/") home
                    li
                        a(href="/status") status
                    li
                        a(href="/show") show
        main
            section(class="hero")
                div(class="hero-content")

                    hr

                    table(class="status_table")
                        thead
                            tr
                                th(class="board_name_head") 
                                th Connection Status
                                th Arm Status
                                th Command Status
                                th CH.0 Status
                                th CH.1 Status
                                th CH.2 Status
                                th CH.3 Status
                                th CH.4 Status
                                th CH.5 Status
                                th CH.6 Status
                                th CH.7 Status
                        tbody
                            each board in boardinfo
                                tr
                                    td(id=board.sname)
                                        a(class="board_name" href="/board/"+board.sname) #{ board.name }
                                    td
                                        div(class="datatimer")= 0
                                        div(id=board.sname+"_rssi")= telemetry[board.sname].rssi
                                    td
                                        div(id=board.sname+"_swarm")= telemetry[board.sname].swarm
                                        div(id=board.sname+"_hwarm")= telemetry[board.sname].hwarm
                                    td(id=board.sname+"_cmdcount")= telemetry[board.sname].cmdcount
                                    each i in [0,1,2,3,4,5,6,7]
                                        td(id=board.sname+"_firecount"+i)= telemetry[board.sname].firecount[i]

