html
	head
		title= title
		link(href='/css/fading.css', rel='stylesheet')
		link(href='/css/res_colors.css', rel='stylesheet')
	body
		h1= message
		each block in [block1, block2]
			table
				tr
					each val, key in block
						td
							h4= key
							table
								tr
									td= val.swarm
									td= val.hwarm
									td= val.rssi
							table
								each i in [0,1,2,3,4,5,6,7]
									tr
										td= i
										if val.res[i] === 'no data'
											td.rw1sfading.nodataresistance= val.res[i]
										else if parseInt(val.res[i]) < 1200
											td.lowresistance= val.res[i]
										else
											td.yk1sfading.highresistance= val.res[i]

