html
	head
		title= "Magic Smoke Status"
		link(href='/css/fading.css', rel='stylesheet')
		link(href='/css/res_colors.css', rel='stylesheet')
		link(href='/css/generic.css', rel='stylesheet')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/socket_hookups.js')
		script(src='/javascripts/commands.js')
	body
		header
			h1= "Magic Smoke Status"
			nav
				ul
					li
						a(href="/") home
					li
						a(href="/status") status
					li(class="dropdown")
						a(href="#") boards
						div(class="dropdown-content")
							each board in boardinfo
								a(href="/board/"+board.sname) #{ board.name }
					li
						a(href="/show") show
			
		main
			section(class="hero")
				div(class="hero-content")

					div
						button(id="toggleshowall" class="buttonsmall" onclick="toggleShowAll()") Show All Boards

					hr

					table(class="status_table")
						thead
							tr
								th(class="board_name_head") 
								th Connection Status
								th Arm Status
								th Command Status
								th CH.0 Status
								th CH.1 Status
								th CH.2 Status
								th CH.3 Status
								th CH.4 Status
								th CH.5 Status
								th CH.6 Status
								th CH.7 Status
						tbody
							each board in boardinfo
								- var rowclass="configrow";
								if show.boards[board.sname].location == "inactive"
									- rowclass="nonconfigrow hiddenrow";
								tr(class=rowclass)
									td
										a(class="board_name" href="/board/"+board.sname) #{ board.name }
									td
										div(id=board.sname+"_connstatus" class="error_status")= telemetry[board.sname].connection
									td
										div(class="normal_status" id=board.sname+"_swarm")= telemetry[board.sname].swarm
										div(class="normal_status" id=board.sname+"_hwarm")= telemetry[board.sname].hwarm
									td
										div(class="normal_status" id=board.sname+"_cmdstatus")= "unknown"

									each i in [0,1,2,3,4,5,6,7]
										td
											div(class="normal_status" id=board.sname+"_channelstatus"+i)= "unknown"

	script.
		var boardinfo = !{JSON.stringify(boardinfo)};
		var telemetry = !{JSON.stringify(telemetry)};
		var predictions = !{JSON.stringify(predictions)};
		var show = !{JSON.stringify(show)};
		fresh_data(boardinfo, telemetry, predictions, show);

