html
    head
        title= title
        link(href='/css/fading.css', rel='stylesheet')
        link(href='/css/res_colors.css', rel='stylesheet')
    body.blackpage
        h1= message
        each board in data
            table
                tr
                    td(style='width: 20%')
                        h4= board.name
                        h5= board.firmver
                        h5= board.statusTime - serverTime
                        button(onclick="clickArm(\""+board.refid+"\")").
                            arm
                        button(onclick="clickDisarm(\""+board.refid+"\")").
                            disarm
                        table
                            tr
                                if board.swarm === 'no data'
                                    td.rw1sfading= board.swarm
                                else if board.swarm === '1'
                                    td.highresistance= 'SW ARMED'
                                else
                                    td= 'SW DISARM'
                                if board.hwarm === 'no data'
                                    td.rw1sfading= board.hwarm
                                else if board.hwarm === 'ARMED'
                                    td.highresistance= 'HW ARMED'
                                else
                                    td= 'HW DISARM'
                                td= board.rssi
                        table
                            each i in [0,1,2,3,4,5,6,7]
                                tr
                                    td= i
                                    if board.res[i] === 'no data'
                                        td.rw1sfading= board.res[i]
                                    else if parseInt(board.res[i]) < 1200
                                        td.lowresistance= board.res[i]
                                    else
                                        td.highresistance= board.res[i]
                                    td
                                        button(onclick="clickFire(\""+board.refid+"\",\""+i+"\")").
                                            fire

                                    td= board.firecount[i]
